<div class="h-60 w-full flex items-center justify-center">
  <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-amber-400 via-red-500 to-red-300">Welcome to Maines Mushrooms</h1>
</div>
<div class="h-screen w-full">

</div>
